@model List<Person>

@{
    ViewData["Title"] = "Privacy Policy";
    var currentYear = DateTime.Now.Year;
    var dayOfWeek = DateTime.Now.DayOfWeek;
    var email = "macio@gmail.com";
    var emailDisplayName = "Email contact";
}


<h1>@ViewData["Title"]</h1>

<p>Changes</p>



<p>@currentYear</p>

@if(dayOfWeek == DayOfWeek.Sunday || dayOfWeek == DayOfWeek.Saturday)
{
    <p>It is weekend day</p>
}
else
{
    <p>@dayOfWeek</p>
}
<a href="mailto:@email">@emailDisplayName</a>

<br />
FRIRST NAME | LAST NAME
@foreach(var person in Model)
{
    <p>@person.FristNmae | @person.LastName</p>
}